<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/about.css"/>

</head>
<body>
    <div id = "header">
        <h1>Sobre Frodo</h1>
    </div>

    <div id= "text">
        <p>
            Frodo Bolsón (originalmente entonces en inglés, Frodo Baggins, y de acuerdo con la obra póstuma Los pueblos de la Tierra Media, este nombre es una representación del oestron Maura Labingi)​ es un personaje ficticio que pertenece al legendarium del escritor J. R. R. Tolkien, es el protagonista de la novela El Señor de los Anillos. Es un hobbit, hijo de Drogo Bolsón y Prímula Brandigamo, nacido el 22 de septiembre de 2968 de la Tercera Edad del Sol. Llamado también "Portador del Anillo", Frodo fue el encargado de llevar el Anillo Único hasta el Monte del Destino para destruirlo, acompañado por su valiente y fiel compañero Sam.
        </p>
        <p>
            En la trilogía cinematográfica de El Señor de los Anillos de Peter Jackson (2001, 2002, 2003), Frodo es interpretado por el actor estadounidense Elijah Wood.
        </p>
        <p>
            Como otros muchos nombres de El Señor de los Anillos, la palabra proviene de un idioma diferente del inglés: Frodo, en nórdico antiguo, significa "sabio"
        </p>
    </div>
    
</body>
</html>