<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="style/home.css"/>
  </head>
  <body>
    <div id="header">
      <h1>Bienvenido pequeño hobbit!</h1>
    </div>
    <div id = "links">
        <a class = "container" href="/about.html">About</a>
        <a class = "container" href="/photo-gallery.html">Photo Gallery</a>
        <a class = "container" href="/works.html">Works</a>
    </div>    
  </body>
</html>
