<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/photo-galery.css"/>
    <title>Document</title>
</head>
<body>
    
    <h1>Fotos de Frodo Bolson</h1>

    <div id = "img">
        <img src="images/frodo1.jpg" alt="frodo1" width="200">
        <img src="images/frodo2.jpg" alt="frodo2" width="200">
        <img src="images/frodo3.jpg" alt="frodo3" width="200">
        <img src="images/frodo4.jpg" alt="frodo4" width="200">
        <img src="images/frodo5.jpg" alt="frodo5" width="200">
        <img src="images/frodo6.jpg" alt="frodo5" width="200">
    </div>

</body>
</html>