<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/works.css"/>
    <title>Batallas</title>
</head>
<body>
    
    <h1>Las batallas de Frodo</h1>

        <ul id = "list">
            <li>Batalla contra "Ella la araña"</li>    
            <li>La destrucción del anillo</li>    
            <li>Batalla contra los Nazgûl en la cima de los vientos</li>    
            <li>Batalla contra el Troll en las minas de Moria</li>    
        </ul>

</body>
</html>